doctype html 
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900&display=swap&subset=cyrillic" rel="stylesheet")
    link(media="all" rel="stylesheet" href="/css/default.css" type="text/css")
    title River
  body 
    header
      div(class="container inner-header")
        a(class="header-link" href="#")
         h1 River
        nav(class="main-nav")
          ul(class="main-nav-ul")
            li
              a(class="main-nav-link" href="#about-anchor") Обо мне
            li
              a(class="main-nav-link" href="#music-anchor") Треки
    section(class="banner")
      div(class="banner-text")
        p(class="lead") River
        p(class="sublead") Молодой реп исполнитель из России
      video(id="banner-video" src="/media/banner.webm" muted autoplay loop)
    main
      - if (about)
        div(id="about-container")
          a(class="anchor" name="about-anchor")
          div(class="container") 
            section(id="about")
              img(class="about-img" src=about.photo)
              div(class="about-text")
                h2= about.name
                p= about.text
                ul(id="socials")
                  each link in socialLinks
                    li(class="social-li")
                      a(href=link.href class="social-link")
                        img(src=link.icon alt="" class="social-icon")
                        span= link.text
      div(class="music-container")
        a(class="anchor" name="music-anchor")
        div(class="container")
          section(id="music")
            h2(class="section-header") Треки
            div(class="songs")
              each track in tracks
                article(class="song")
                  img(class="song-cover" src=track.coverImg alt="")
                  div(class="song-info") 
                    h3= track.name 
                    audio(class="song-player" src=track.source controls)
                    p= track.desc
                    each link in track.links
                      a(class="song-link social-link" href=link.href)
                        img(src=link.icon alt="" class="social-icon")
                        span= link.text
                    p(class="song-date") 08.03.19
                  div(class="song-active-background")
    script(src="/js/main.js" type="text/javascript")
