doctype html 
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900&display=swap&subset=cyrillic" rel="stylesheet")
    link(media="all" rel="stylesheet" href="/css/default.css" type="text/css")
    title River
  body 
    header
      div(class="container inner-header")
        a(class="header-link" href="#")
         h1 River
        nav(class="main-nav")
          ul(class="main-nav-ul")
            li
              a(class="main-nav-link" href="#about-anchor") Обо мне
            li
              a(class="main-nav-link" href="#music-anchor") Треки
    section(class="banner")
      div(class="banner-text")
        p(class="lead") River
        p(class="sublead") Молодой реп исполнитель из России
      video(id="banner-video" src="/media/banner.webm" muted autoplay loop)
    main
      - if (about)
        div(id="about-container")
          a(class="anchor" name="about-anchor")
          div(class="container") 
            section(id="about")
              img(class="about-img" src=about.photo)
              div(class="about-text")
                h2= about.name
                p= about.text
                ul(id="socials")
                  each link in socialLinks
                    li(class="social-li")
                      a(href=link.href class="social-link")
                        img(src=link.icon alt="" class="social-icon")
                        span= link.text
      div(class="music-container")
        a(class="anchor" name="music-anchor")
        div(class="container")
          section(id="music")
            h2(class="section-header") Треки
            div(class="songs")
              each track in tracks
                article(class="song" data-source=track.source data-cover=track.coverImg data-name=track.name)
                  div(class="song-fullscreen-menu")
                    button(class="song-close-button")
                      i(class="fas fa-arrow-left")
                      span Треки
                  img(class="song-cover" src=track.coverImg alt="")
                  div(class="song-panel")
                    h3(class="song-name")= track.name 
                    div(class="song-actions")
                      button(class="song-button song-play-button") 
                        i(class="fas fa-play")
                        span(class="song-button-text") Слушать
                      button(class="song-button song-pause-button song-button-hidden")
                        i(class="fas fa-pause")
                        span(class="song-button-text") Пауза
                      div(class="song-links")
                        each link in track.links
                          a(class="song-link social-link" href=link.href)
                            img(src=link.icon alt="" class="social-icon song-social-icon")
                            span(class="song-link-text")= link.text
                  div(class="song-info") 
                    p= track.desc
                    p(class="song-date") 08.03.19
                  div(class="song-active-background")
    div(id="player-container")
      div(class="container")
        div(id="player")
          img(id="player-track-cover" src="/media/RiverSummer.jpg")
          div(class="player-info-and-player")
            div(id="player-track-info")
              span(id="player-track-name") Summer
              div(id="player-track-links")
               a(class="social-link" href="#")
                img(src="/media/soundcloud-icon.png" class="social-icon")
            audio(id="player-audio" class="player-controls" controls controlsList="nodownload")
    script(src="/js/main.js" type="text/javascript")
    script(src="https://kit.fontawesome.com/dec4476dad.js")
